<table class="table table-hover text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">Week Ending</th>
      <th scope="col">Total Hours</th>
      <th scope="col">Submission Status</th>
      <th scope="col">Approval Status</th>
      <th scope="col">Option</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let summary of summaries | slice: 0:end">
      <td>{{ summary.endingDate }}</td>
      <td>{{ summary.totalHours }}</td>
      <td>
        {{ summary.submissionStatus }}
        <ng-container *ngIf="summary.submissionStatus === 'Incomplete'">
          <i
            class="fas fa-info-circle"
            ngbPopover="Items due: Proof of Approved TimeSheet"
            triggers="mouseenter:mouseleave"
          ></i>
        </ng-container>
      </td>
      <td>{{ summary.approvalStatus }}</td>
      <td>
        <button type="button" class="btn btn-light" (click)="view(summary.endingDate)">
          <span *ngIf="summary.approvalStatus === 'Approved'; else edit">
            View
          </span>
          <ng-template #edit>Edit</ng-template>
        </button>
      </td>
      <td>
        <ng-container *ngIf="gComment(summary)[0] !== 0">
          {{ gComment(summary)[0] }} Floating day(s) required.
          <i
            class="fas fa-info-circle"
            ngbPopover="Total floating days left in {{ currentYear }} : {{
              gCommentTag(summary).floatingDayLeft
            }} days"
            triggers="mouseenter:mouseleave"
          ></i>
        </ng-container>
        <ng-container *ngIf="gComment(summary)[1] !== 0">
          {{ gComment(summary)[1] }} Vacation day(s) required.
          <i
            class="fas fa-info-circle"
            ngbPopover="Total vacation left in {{ currentYear }} : {{
              gCommentTag(summary).vacationLeft
            }} days"
            triggers="mouseenter:mouseleave"
          ></i>
        </ng-container>
        <ng-container *ngIf="gComment(summary)[2] !== 0">
          {{ gComment(summary)[2] }} Holiday included.
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
<button
  class="btn btn-primary"
  (click)="onShowMorePressed()"
  *ngIf="end < summaries.length"
>
  Show More
</button>
