<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Week Ending</th>
      <th scope="col">Total Hours</th>
      <th scope="col">Submission Status</th>
      <th scope="col">Approval Status</th>
      <th scope="col">Option</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let summary of summaries | slice: 0:end">
      <td>{{ summary.endingDate }}</td>
      <td>{{ summary.totalHours }}</td>
      <td>{{ summary.submissionStatus }}</td>
      <td>{{ summary.approvalStatus }}</td>
      <td>
        <button type="button" class="btn btn-light">
          <span *ngIf="summary.approvalStatus === 'Approved'; else edit">
            View
          </span>
          <ng-template #edit>Edit</ng-template>
        </button>
      </td>
      <<<<<<< HEAD
      <td>
        <ng-container *ngIf="gComment(summary)[0] !== 0">
          {{ gComment(summary)[0] }} Floating day(s) required.
          <button
            type="button"
            ngbPopover="Total floating days left in {{ currentYear }} : {{
              gCommentTag(summary).floatingDayLeft
            }} days"
            triggers="mouseenter:mouseleave"
          >
            <i class="fas fa-info-circle"></i>
          </button>
        </ng-container>
        <ng-container *ngIf="gComment(summary)[1] !== 0">
          {{ gComment(summary)[1] }} Vacation day(s) required.
          <button
            type="button"
            ngbPopover="Total vacation left in {{ currentYear }} : {{
              gCommentTag(summary).vacationLeft
            }} days"
            triggers="mouseenter:mouseleave"
          >
            <i class="fas fa-info-circle"></i>
          </button>
        </ng-container>
        <ng-container *ngIf="gComment(summary)[2] !== 0">
          {{ gComment(summary)[2] }} Holiday included.
        </ng-container>
      </td>
      ======= <<<<<<< HEAD
      <td>
        <ng-container *ngIf="gComment(summary)[0] !== 0">
          {{ gComment(summary)[0] }} Floating day(s) required.
          <button
            type="button"
            ngbPopover="Total floating days left in {{ currentYear }} : {{
              gCommentTag(summary).floatingDayLeft
            }} days"
            triggers="mouseenter:mouseleave"
          >
            <i class="fas fa-info-circle"></i>
          </button>
        </ng-container>
        <ng-container *ngIf="gComment(summary)[1] !== 0">
          {{ gComment(summary)[1] }} Vacation day(s) required.
          <button
            type="button"
            ngbPopover="Total vacation left in {{ currentYear }} : {{
              gCommentTag(summary).vacationLeft
            }} days"
            triggers="mouseenter:mouseleave"
          >
            <i class="fas fa-info-circle"></i>
          </button>
        </ng-container>
        <ng-container *ngIf="gComment(summary)[2] !== 0">
          {{ gComment(summary)[2] }} Holiday included.
        </ng-container>
      </td>
      =======
      <td>
        <ng-container *ngIf="gComment(summary)[0] !== 0">
          {{ gComment(summary)[0] }} Floating day(s) required.
          <!--          <button-->
          <!--            type="button"-->
          <!--            ngbPopover="{{ gCommentTag(summary).floatingDayLeft }}"-->
          <!--            triggers="mouseenter:mouseleave"-->
          <!--          >-->
          <!--            <i class="fas fa-info-circle"></i>-->
          <!--          </button>-->
        </ng-container>
        <ng-container *ngIf="gComment(summary)[1] !== 0">
          {{ gComment(summary)[1] }} Vacation day(s) required.
          <i class="fas fa-info-circle"></i>
        </ng-container>
        <ng-container *ngIf="gComment(summary)[2] !== 0">
          {{ gComment(summary)[2] }} Holiday included.
        </ng-container>
      </td>
      >>>>>>> d7174f27d31a532135111c62c655df07fcf55909 >>>>>>>
      3a758238fdfb59de262fe735c129f5767682dd7c
    </tr>
  </tbody>
</table>
<button
  class="btn btn-primary"
  (click)="onShowMorePressed()"
  *ngIf="end < summaries.length"
>
  Show More
</button>
