<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Smart Time Sheet</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav mr-auto">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-dark" (click)="gotoSummary()">Summary</button>
      <button class="btn btn-dark" (click)="gotoTimeSheet()">Time Sheet</button>
      <button class="btn btn-dark" (click)="gotoProfile()">Profile</button>
      <ng-container *ngIf="!IsLogged()">
        <button class="btn btn-dark" (click)="gotoLog()">Log In</button>
      </ng-container>
      <ng-container *ngIf="IsLogged()">
        <button (click)="Logout()" class="btn btn-dark">Log out</button>
      </ng-container>
    </div>
  </ul>
</nav>
<div class="jumbotron">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
