<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navigation</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="summary">Summary</a>
    </li>
    <li class="nav-item">
      <button (click)="gotoTimeSheet()">Time Sheet</button>
    </li>
    <li class="nav-item"><a class="nav-link" href="profile">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="login">Log In</a></li>
  </ul>
</nav>
<div class="jumbotron text-center">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
