<!-- <dl class="row">
  <dt class="col-sm-3">User Name</dt>
  <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

  <dt class="col-sm-3">User Phone Number</dt>
  <dd class="col-sm-9">
    Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
  </dd>

  <dt class="col-sm-3">User Email Address</dt>
  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

  <dt class="col-sm-3">User Home Address</dt>
  <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

  <dt class="col-sm-3">Emergency Contact</dt>
  <dd class="col-sm-9">
    <dl class="row">
      <dt class="col-sm-4">Emergency Contact 1</dt>
      <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
      <dt class="col-sm-4">Emergency Contact 2</dt>
      <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
    </dl>
  </dd>
</dl> -->
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th  style="text-align: left;">Field</th>
      <th  style="text-align: left;">Content</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="text-align: left;">User Name</th>
      <td style="text-align: left;">Mark</td>
    </tr>
    <tr>
      <th scope="row" style="text-align: left;">User Phone Number</th>
      <td style="text-align: left;">Jacob</td>

    </tr>
    <tr>
      <th scope="row" style="text-align: left;">User Email Address</th>
      <td style="text-align: left;"> Larry</td>
    </tr>
    <tr>
      <th scope="row" style="text-align: left;">User Home Address</th>
      <td style="text-align: left;">75 Tennyson Rd, East Windsor, New Jersey, 08520</td>
    </tr>
    <tr>
      <th scope="row" style="text-align: left;">Emergency Contact 1</th>
      <td style="text-align: left;">Larry</td>
    </tr>
    <tr>
      <th scope="row" style="text-align: left;">Emergency Contact 1 Phone Number</th>
      <td style="text-align: left;">Larry</td>
    </tr>
    <tr>
      <th scope="row" style="text-align: left;">Emergency Contact 2</th>
      <td style="text-align: left;">Larry</td>
    </tr>
    <tr>
      <th scope="row" style="text-align: left;">Emergency Contact 2 Phone Number</th>
      <td style="text-align: left;">Larry</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary btn-lg">Edit</button>
