


<img [src]="'../../assets/'+profile.avatar" width="100" height="100"/>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th style="text-align: left;">Field</th>
      <th style="text-align: left;">Content</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" style="text-align: left;">User Name</td>
    <td style="text-align: left;">{{profile.username}}</td>
    </tr>
    <tr>
      <td scope="row" style="text-align: left;">User Phone Number</td>
      <td style="text-align: left;">{{profile.phoneNumber}}</td>
    </tr>
    <tr>
      <td scope="row" style="text-align: left;">User Email Address</td>
      <td style="text-align: left;">{{profile.email}}</td>
    </tr>
    <tr>
      <td scope="row" style="text-align: left;">User Home Address</td>
      <td style="text-align: left;">
        {{profile.address}}
      </td>
    </tr>
    <tr>
      <td scope="row" style="text-align: left;">Emergency Contact 1</td>
      <td style="text-align: left;">{{profile.contact1FirstName}} {{profile.contact1LastName}}</td>
    </tr>
    <tr>
      <td scope="row" style="text-align: left;">
        Emergency Contact 1 Phone Number
      </td>
      <td style="text-align: left;">{{profile.contact1PhoneNumber}}</td>
    </tr>
    <tr>
      <td scope="row" style="text-align: left;">Emergency Contact 2</td>
      <td style="text-align: left;">{{profile.contact2FirstName}} {{profile.contact2LastName}}</td>
    </tr>
    <tr>
      <td scope="row" style="text-align: left;">
        Emergency Contact 2 Phone Number
      </td>
      <td style="text-align: left;">{{profile.contact2PhoneNumber}}</td>
    </tr>
  </tbody>
</table>

<button
  type="button"
  class="btn btn-primary btn-lg"
  data-toggle="modal"
  data-target="#newUserModal"
>
  Edit
</button>
<div
  class="modal fade"
  id="newUserModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">
          Contact
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="phoneNumber"></label>
            <input
              type="phoneNumber"
              class="form-control"
              id="phoneNumber"
              placeholder={{profile.phoneNumber}}
              formControlName="phoneNumber"
            />
            <div
              class="alert alert-danger"
              *ngIf="
                form.get('phoneNumber').touched &&
                form.get('phoneNumber').invalid
              "
            >
              <div *ngIf="form.get('phoneNumber').errors.pattern">
                Please input a valid phone number!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email"></label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder={{profile.email}}
              formControlName="email"
            />
            <div
              class="alert alert-danger"
              *ngIf="form.get('email').touched && form.get('email').invalid"
            >
              <div *ngIf="form.get('email').errors.pattern">
                Please input a valid email!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="address"></label>
            <textarea
              class="form-control"
              id="address"
              rows="3"
              [placeholder]=" '(Home Address)' +  profile.address"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="fullName1">Emergency Contact 1</label>
            <input
              type="fullName1"
              class="form-control"
              id="fullName1"
              [placeholder]="profile.contact1FirstName+', '+profile.contact1LastName"
              formControlName="fullName1"
            />
          </div>
          <div class="form-group">
            <label for="phoneNumber1"></label>
            <input
              type="phoneNumber1"
              class="form-control"
              id="phoneNumber1"
              placeholder={{profile.contact1PhoneNumber}}
              formControlName="phoneNumber1"
            />
            <div
              class="alert alert-danger"
              *ngIf="
                form.get('phoneNumber1').touched &&
                form.get('phoneNumber1').invalid
              "
            >
              <div *ngIf="form.get('phoneNumber1').errors.pattern">
                Please input a valid phone number!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="fullName2">Emergency Contact 2</label>
            <input
              type="fullName2"
              class="form-control"
              id="fullName2"
              [placeholder]="profile.contact2FirstName+', '+profile.contact2LastName"
              formControlName="fullName2"
            />
          </div>
          <div class="form-group">
            <label for="phoneNumber2"></label>
            <input
              type="phoneNumber2"
              class="form-control"
              id="phoneNumber2"
              placeholder={{profile.contact2PhoneNumber}}
              formControlName="phoneNumber2"
            />
            <div
              class="alert alert-danger"
              *ngIf="
                form.get('phoneNumber2').touched &&
                form.get('phoneNumber2').invalid
              "
            >
              <div *ngIf="form.get('phoneNumber2').errors.pattern">
                Please input a valid phone number!
              </div>
            </div>
          </div>
        </form>
        <div  class="form-group">
          <label>{{fileName}}</label>
          <input style="display: none" type="file" (change)="onFileChanged($event)"
          ng2FileSelect [uploader]="uploader"  #fileInput>
      <button type="button" (click)="fileInput.click()"
      ng2FileSelect [uploader]="uploader"
      >Select File</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
